@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body { height: 100%; width: 100%; margin: -1px; }

#item_tab {
	background-color:#9aaa57;
	color:white;
	width:3%;
	height:100%;
	font-size: 38px;
}
#user_profile_pic {
	top: 50px;
	right: 0;
	border-radius: 50%;
	width: 50%;
	z-index: 1
}

#user_item_list {
	color: #aaaaaa;
}

#message_list {
	color: #aaaaaa;
}

#community_item_list {
	height: 80%;
	color: #aaaaaa;
}

#view_items {
	width: 100%;
}

#select_item {
	width: 100%;
}

#profile_menu_icon {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

#profile_hover {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

#item_menu_icon {
	position: fixed;
	left: 0;
	top: 0;
}

#message_button {
	position: relative;
	width: 25%;
	top: 52%;
	left: 5.5%;
}

#items_button {
	position: relative;
	width: 20%;
	top: 52%;
	left: 7%;
}

#add_button {
	position: relative;
	width: 20%;
	top: 52%;
	left: 3%;
}

#exit_button {
	position: relative;
	width:20%;
	top: 52%;
	left: 9%;
}

/* The side navigation menu */
#profile_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#item_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
}

.community_item {
	background-color: #222222;
	height: 20%;
	padding: 3%;
}

.community_item img {
	padding: 3%;
}

.item_img {
	float: left;
	width: 30%;
}

.message_img {
	float: right;
	width: 15%;
	padding-top: 3%;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
	#profile_menu {width: 100%;}
	#item_menu {width: 100%;}
} THIS JUST MAKES WIDTH: 100% AT START, NO OTHER TIMES */

/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box 
.popup_content {
    background-color: #fefefe;
    margin: 15% auto;  15% from the top and centered 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;  Could be more or less, depending on screen size 
}*/

/* The Close Button */
.close {
    color: #aaa;
	float: right;
	top: 20%;
    font-size: 28px;
    font-weight: bold;
	padding: 2px 16px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.popup_header {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: #9aaa57;
    color: white;
	margin: auto;
    border: 1px solid #888;
    width: 80%;
	
}

/* Modal Footer */
.popup_footer {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: #9aaa57;
    color: white;
	margin: auto;
    border: 1px solid #888;
    width: 80%;

}

/* Modal Content */
.popup_content {
	top: 20%;
	padding: 2px 16px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/******************* TEMP TEMPLATING *****************/

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}