html, body { height: 100%; width: 100%; margin: 0px; background-color: #e5e5e5; overflow-x: hidden; overflow-y: hidden;}

/*messages list css*/
.message {
	background-color: #222222;
	height: 16%;
	padding: 3%;
}

.sender_name {
	line-height: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
}

.sender_preview {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #9aaa57;
}
/*end of messages list css*/

/*new food form css*/
#new_food_form {
	padding-left: 3%;
	height: 53vh;
}

#new_food_name {
	height: 5vh;
}

#new_food_quantity {
	height: 5vh;
}

#add_food_button {
	font-family: 'Roboto', sans-serif;
	font-size: 78%;
    width: 28%;
    background-color: #9aaa57;
    color: white;
    padding: 1%;
    margin: 0 0 0 66%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add_food_button:hover {
    background-color: #596b34;
}

/*end of new food form css*/

/*form and generic rules*/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #596b34;
}

img {
	max-height: 100%;
	max-width: 100%;
	height: auto\9;
}

h2 {
	padding-left: 1%;
	padding-right: 5%;
	font-family: 'Roboto', sans-serif;
}

h3 {
	padding-left: 5%;
	font-family: 'Roboto', sans-serif;
	color: white;
}

p {
	padding-left: 0%;
	font-family: 'Roboto', sans-serif;
}

br {
	display: block;
    margin: 10px 0;
}

hr {
	height:2px;
	visibility:hidden;
	margin-bottom:-1px;
}
button {
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
    width: auto;
    background-color: #343434;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    display: block;
}

.headline {
    font-family: 'Fredoka One', cursive;
    line-height: 1.5em;
    color: black;
    font-size: 40px;
	padding-left: 5%;
	color: #9aaa57;
}

h1:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

input[type=text], input[type=number], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#index_input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

span {
	padding-left: 5%;
	font-family: 'Roboto', sans-serif;
}

input[type=submit] {
	font-family: 'Roboto', sans-serif;
	font-size: 90%;
    width: 30%;
    background-color: #9aaa57;
    color: white;
    padding: 3%;
    margin: 0 0 0 65%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=select] {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    width: 20%;
    background-color: #9aaa57;
    color: white;
    padding: 14px;
    margin: 0 0 0 75%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #596b34;
}

/*end of form and generic*/
#backround {
    height:100%;
	width: 100%;
	position: absolute;
	background-color: #aaaaaa;
}
#middle {
	height:100%;
	width: 94%;
	position: absolute;
	left: 3%;
	background-color: #aaaaaa;
}

#messages {
    height: 90%;
    width:100%;
		overflow-y: scroll;
}

#message_header {
    text-align: center;
    font-size: 33px;
    width:100%;
}

#message_send {
    position: absolute;
    top:90%;
    height: 3%;
    width:100%;
}

#message_view {
    position: absolute;
    background: white;
    top: 0px;
    height:100%;
    width: 100%;
}

#contacts {
	overflow-y: scroll;
	height: 5%;
}

#item_tab {
	background-color:#9aaa57;
	color:white;
	width:50px;
	height:100%;
	font-size: 18px;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
}

#profile_tab {
	background-color:#9aaa57;
	overflow-y: hidden;
	overflow-x: hidden;
	color:white;
	width:50px;
	height:100%;
	font-size: 18px;
	position: fixed;
}

#profile_section {
	height: 20vh;
	padding-left: 3%;
	padding-right: 3%;
}

#user_info_panel {
	height: 12vh;
}

#user_profile_pic {
	top: 0;
	z-index: 1;
	height: 80px;
	width: 80px;
	float:right;
}

#community_item_list {
	height: 80vh;
	color: #aaaaaa;
}

#user_item_list {
	height: 53vh;
	color: #aaaaaa;
}

#message_list {
	height: 53vh;
	color: #aaaaaa;
	overflow-y: scroll;
}

#icons {
	height: 22vh;
	padding: 3%;
}

#view_items {
	width: 100%;
}

#select_item {
	width: 100%;
}

#profile_menu_icon {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

#item_menu_icon {
	position: fixed;
	left: 0;
	top: 0;
}

#message_button {
	position: relative;
	width: 25%;
	left: 5.5%;
	top: 3%;
}

#items_button {
	position: relative;
	width: 20%;
	left: 7%;
	top: 3%;
}

#add_button {
	position: relative;
	width: 20%;
	left: 3%;
	top: 3%;
}

#exit_button {
	position: relative;
	width:20%;
	left: 9%;
	top: 3%;
}

/* The side navigation menu */
#profile_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
	overflow-y: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

#item_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
	overflow-y: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/*formatting of individual community items*/
.community_item {
	background-color: #222222;
	height: 22%;
}

.community_item img {
	padding: 3%;
}

.item_img {
	float: left;
	width: 32%;
}

.message_img {
	float: right;
	width: 15%;
	padding-top: 3%;
}

.community_item p {
	line-height: 0.4em;
	font-size: 80%;
}

.community_item h3 {
	color: white;
	line-height: 0.8em;
	font-size: 93%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 3% 0 3% 0;
}

#received_items {
	position: relative;
	height:40%;
	left: 8%;
}

#received_number {
	font-size:85%;
	line-height: 43px;
	position: relative;
	vertical-align: top;
	left: 8%;
	display: inline;
	color: #aaaaaa;
}

#sent_items {
	position: relative;
	height:40%;
	left: 3%;
}

#sent_number {
	position: relative;
	vertical-align: top;
	line-height: 43px;
	font-size:85%;
	display: inline;
	left: 3%;
	color: #aaaaaa;
}

/*formatting of individual user items*/
.user_item {
	background-color: #222222;
	height: 110px;
}

.user_item p {
	line-height: 0.4em;
	font-size: 70%;
	padding-left: 3%;
}

.user_item h3 {
	color: white;
	line-height: 0.6em;
	font-size: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 4% 0 3% 0;
	padding-left: 3%;
}

.type_img {
	float: right;
	width: 9%;
	padding: 1%;
	padding-top: 2.5%;
}

.edit_img {
	float: right;
	width: 9%;
	padding: 1%;
	padding-top: 2.5%;
}

.del_img {
	float: right;
	width: 9%;
	padding: 1%;
	padding-top: 2.5%;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.header_image_div{
	width: 100%;
	height: 50%;
	position: relative;
	background-image: url('index_header_image.jpg');
	background-size: cover;
/*	background-size: 100%;
    background-repeat: no-repeat;*/
}
/*.header_image{
	position: absolute;
	z-index: 1;
	left: 0px;
	top:0px;
}*/
.header_image_blurb{
	position: absolute;
	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -60%);
	text-decoration: none;
	color: white;
	text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {index
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#link a{
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	color: white;
}

#em1 {
	font-family: 'Fredoka One', sans-serif;
	color: #a4b369;
	font-style: normal;
}

#em2 {
	color: #dbeb9a;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

#em3 {
	font-family: 'Roboto', sans-serif;
	color: #dbeb9a;
	font-style: normal;
}

.green_container{
	background-color: #9AA95C;
	padding: 20px;
}

.green_container2 {
	background-color: #9AA95C;
	padding: 20px;
	text-align: center;
	position: relative;
	left: 10%;
}

.green_container2:hover {
	background-color: #596b34;
}

#intro_header{
	color: #fff;
	text-align: center;
}

.left_column{
	width: 30%;
	height: auto;
	padding-left: 35%;
	padding-top: 10%;
}

.centered_container{
	width: 100%;
}
.paragraph{
	font-size: 20px;
	word-wrap: break-word;
	text-align: center;
	color: #586d5f;
	padding-left: 5%;
	width: 90%;
}
.padded_container{
	display: inline-block;
	text-align: center;
	width: 70%;
}
#link{
	display: inline;
	text-align: center;
	
}
.footer_images{
	padding-top: 5%;
	display: table;
	width:100%;
	height: 90%;
}
.index_tiled_image{
	display: inline-block;
	width: 33.33333%;
}
.grey_container{
	background-color: #343434;
}
.social_media_icon{
	width: 5%;
	padding: 3px;
	padding-top: 16px;
}
.logo_right_align{
	width: 40%;
	display: inline;
	float: right;
	padding: 3px;
	padding-top: 16px;
	padding-right: 10px;
}

#header_logo{
	width: 80%;
	padding: 16px;
	padding-left: 10px;
}

#log_in {
	font-size: 80%;
	vertical-align: middle;
}

#sign_up {
	font-size: 80%;
	vertical-align: middle;
}

.header_container{
	display: table;
	width: 100%;
}

.wrapper{
	display: table-cell;
	vertical-align: middle;
	width: 12%;
	text-align: center;
}
#submit{
	margin: auto;

}
.index_input{
	float: right;
	width: 60%;
}
form{
	color: #343434;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
	#profile_menu {width: 100%;}
	#item_menu {width: 100%;}
} THIS JUST MAKES WIDTH: 100% AT START, NO OTHER TIMES */

/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box
.popup_content {
    background-color: #fefefe;
    margin: 15% auto;  15% from the top and centered
    padding: 20px;
    border: 1px solid #888;
    width: 80%;  Could be more or less, depending on screen size
}*/

/* The Close Button */
.close {
	position: absolute;
	top: 3%;
	right: 3%;
	padding: 3%;
	color: #a4b369;
	font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #9aaa57;
    text-decoration: none;
    cursor: pointer;
}

.closebtn {
    color: white;
	position: absolute;
	padding-top: 3%;
    font-size: 28px;
    font-weight: bold;
	padding: 2px;
}

.closebtn:hover,
.closebtn:focus {
    color: #9aaa57;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.popup_header {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: rgba(255, 255, 255, 0.93);
    color: white;
	margin: auto;
    width: 80%;

}

.skinny_popup_header {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: #9aaa57;
    color: white;
	margin: auto;
    border: 1px solid #888;
    width: 50%;

}

/* Modal Footer */
.popup_footer {
	top: 10%;
    padding: 2px 16px;
	position: relative;
    background-color: rgba(255, 255, 255, 0.93);
    color: white;
	margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.skinny_popup_footer {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: #343434;
    color: white;
	margin: auto;
    border: 1px solid #888;
    width: 50%;
}

/* Modal Header */
.popup_header {
	top: 10%;
	height: 14%;
    padding: 2px 16px;
	position: relative;
    background-color: rgba(255, 255, 255, 0.93);
    color: #a4b369;
	margin: auto;
    width: 80%;
}

.skinny_popup_header {
	top: 20%;
    padding: 2px 16px;
	position: relative;
    background-color: #9aaa57;
    color: white;
	margin: auto;
    border: 1px solid #888;
    width: 50%;
}

/* Modal Content */
.popup_content {
	top: 10%;
	height: 58%;
	padding: 2px 16px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.93);
    margin: auto;
	line-height: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
	color: #a4b369;
}

.skinny_popup_content {
	top: 20%;
	padding: 2px 16px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
}

/*tailored popups css*/

#sign_up_button {
	width: 35%;
	position: relative;
	right: 10%;
	bottom: 5%;
}
/*end of tailored popups*/

.sentMessage {
	text-align:right;
	color: blue;
	padding:0px 5px 0px 5px;
}

.sentText {
    display:inline-block;
    padding-left: 0px;
}

.receivedMessage {
	color:black;
	padding:0px 5px 0px 5px;
}

.receivedText{
    display:inline-block;
    padding-left: 0px;
}

.tabSign {
	position: relative;
	top: 47%;
	left: 20%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}